body {background-color: #FFDBE9;
        color: #333333;
        font-size: 1rem; 
    }
a {color: #333333;}

a:hover{color: #333333;}

h1,h2,h3,h4,h5,h6 {color: #4C5985;}

nav {
    background-color: #FFCCE0;
    padding: 10px;
    margin-bottom: 30px;
    }

nav a {color: #4C5985;}

nav a:hover {background-color:  #ffffff;}

.evenrow {background-color:lightgray;}

.quote {float: right;}

.row {display: flex; flex-wrap: wrap; margin: 30px; background-color: #ffffff; padding: 40px; border-radius: 1em;}


.column1 {flex: 1; order: 1;}
.column2 {flex: 3; order: 2;}
.column3 {flex: 1; order: 4;}
.column4 {flex: 1; order: 3;}


.center {text-align: center;
        margin: 50px;
        }

.skills-icons{
        display:flex;
        flex-wrap: wrap;
        flex:3;
        justify-content: space-around;
        margin-top: 95px;
        img {width: 50px;}
    }
.other-skills{
                background-color: #ffffff;
                border-radius: 1em;
                flex: 1;
                padding: 1em;
                margin: 30px;
            }
.skills-container{
            display:flex;
            flex-wrap: wrap;
        }

.all {margin: 30px;}


.banner {max-width: 100%;}
.column3 {max-width: 100%;}


@media only screen and (max-width: 800px) {
    nav a {
            display: block;
            padding: 10px;
        
        }
    nav span{display: none;}


}

.skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

.skip:focus {
position: static;
width: auto;
height: auto;
}