body {background-color: #f7cac9;
        color: #333333; 
    }
a {color: #92a8d1;}

a:hover{color: #92a8d1;}

h1,h2,h3,h4,h5,h6 {color: #abb1cf;}

nav {
    background-color: #dec2cb;
    padding: 10px;
    margin-bottom: 30px;
    }

nav a {color: #ffffff;}

nav a:hover {background-color:  #ffffff;}

.evenrow {background-color:lightgray;}

.quote {float: right;}

.row {display: flex; margin: 30px; background-color: #ffffff; padding: 40px; border-radius: 1em;}


.column1 {flex: 1; order: 1;}
.column2 {flex: 3; order: 2;}
.column3 {flex: 1; order: 4;}
.column4 {flex: 1; order: 3;}


.center {text-align: center;
        margin: 50px;
        }
img {width: 50px;}
.icons{
        display:flex;
        flex:3;
        justify-content: space-around;
        margin-top: 95px;
    }
.other{
                background-color: #dec2cb;
                border-radius: 1em;
                flex: 1;
                padding: 1em;
                margin: 30px;
            }
.flexbox2{
            display:flex;
        }

.all {margin: 30px;}
